# abstract base configs for a github user

# [user] section moved to `~/.config/git/config.github.CoeJoder`
# to allow for dir-based, per-site, per-user config

[push]
    default = simple
[credential]
    helper = cache --timeout=3600
[core]
    excludesfile = ~/.gitignore_global
    fscache = true
	autocrlf = input
[alias]
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    nevermind = !git reset --hard HEAD && git clean -d -f
    amend = commit --amend
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    precommit = diff --cached --diff-algorithm=minimal -w
[fetch]
    prune = true

