# Ignore all files
*

# Except these:
# README, license, and preview image
!README.md
!LICENSE
!.setup-unix.png

# config files/folders
!.gitignore
!.gitignore_global
!.gitconfig
!.gitmodules

!.profile
!.bash_profile
!.bashrc
!.bashrc_skip_tmux
!.bash_color_prompt.sh
!.bash_aliases
!.bash_completion
!.lessfilter
!.git-prompt-colors.sh
!.inputrc

!.tmux.conf

!.wezterm.lua
!.vim
!.vimrc
!.config/
.config/*
!.config/firejail/
!.config/firejail/joplin.profile
!.config/firejail/joplin.local
!.config/git/
!.config/git/config
!.config/git/CoeJoder-github.com.config
!.config/nvim/

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/n

!.n
!.avn
!.avnrc
!.node-version

!.npmrc
!.npmrcs/
.npmrcs/*
!.npmrcs/default

!.npm_global

# track specific scripts
!scripts
scripts/*
!scripts/vm.sh
!scripts/new_drive_test.sh
!scripts/secure_drive_wipe.sh
!scripts/pygterminize.py
!scripts/deploy_setup_unix.sh
!scripts/excludes.txt

!.ssh
.ssh/*
!.ssh/rc

